<div class="container">
        <div class="title"><h2>Задание No2</h2></div>
        <div class="description">
            <p>
                <em>Задача:</em>
                Вам необходимо создать приложение для автоматизации работы погрузочных кранов,
                позволяющих перемещать плиты между грузовыми автомобилями на крупной
                строительной площадке.
                Приложение должно предоставлять кранам последовательность разгрузки, оптимальную
                для переноса груза с автомобиля на автомобиль, учитывая следующее:
            </p>
                <ul>
                    <li>плиты размещаются на автомобилях одна над другой (от 3 до 8 штук в высоту), и
                        отсортированы по весу (от тяжелых - снизу, к легким - сверху)
                    </li>
                    <li>кран может снимать и перемещать только самую верхнюю плиту с грузовика, и при
                        разгрузке не может устанавливать более тяжелые плиты на более легкие
                    </li>
                    <li>перенос груза с загруженного автомобиля на пустой нужно осуществить используя
                        только одно дополнительное место для временного хранения плит 
                    </li>
                </ul>            
            <p>
                <em>Входящие параметры:</em>
                Количество плит на автомобиле, который требуется разгрузить (от 3 до 8)
            </p>
            <p>
                <em>Выходные данные:</em>    
                Стратегия перемещения плит с автомобиля на автомобиль:
            </p>
                <ul>
                    <li>#1 slot_a -> slot_c</li>
                    <li>#2 slot_a -> slot_b</li>
                    <li>#1 slot_c -> slot_b</li>
                    <li>...</li>
                </ul>
            <p>    
                где: slot_a - разгружаемый автомобиль, slot_b - дополнительное место для
                промежуточного хранения плит, slot c - пустой автомобиль, куда нужно перенести весь
                груз, #n - номер перемещаемой плиты. 
            </p>
            </div>
        <div class="input">        
            <span class="input-description">
                <em>Введите количество плит на автомобиле(3-8)</em>
            </span>
            <input type="text" placeholder="5" [(ngModel)]="inputValue"/>
            <button class="okButton" (click)="handleClick()">Ok</button>
            <span class="errors" *ngIf="showErrorMsg">Ошибка вводных данных</span>
                 
        </div>
        <div class="output">Лог перемещения: 
            <ul>
                <li *ngFor="let str of result">{{ str }}</li>
            </ul>
        </div>

        <div class="comment">При решении использовал рекурсивный алгоритм Ханойской башни. 
            <p>Вобщем чтобы перенести n плит - сначала нужно переложить n-1 плиту на вспомогательную площадку,
            потом самую тяжелую - на второй грузовик. И повторить действия для n-1 плит, но уже перемещая 
            их с площадки на второй грузовик. </p>
            <p>Таким образом функция вызывает сама себя пока не доберется до момента, когда n=1, а 
            одну плиту мы то 100% можем переложить. </p>

        </div>
    </div>
