.container {
    padding: 0px 30px;
}

.title {
    text-align: center;
}

.errors{
    color: red;
    padding-left: 10px;
}

.okButton{
    margin-left: 20px;
}
.input-description{
    display: block;
    padding-bottom: 10px;
}
.output {
    font-style: italic;
}
