<div class="container">
    <div class="title">
        <h2>Задание No3</h2>
    </div>

    <div class="description">
        <p>
            <em>Задача:</em>
            Вы участвуете в рыцарском поединке по стрельбе из лука. Поединок начинается с того,
            что оба соперника располагаются на расстоянии двадцати шагов друг от друга, и каждому
            дается только одна стрела и, соответственно, только один шанс на выстрел. В течение
            поединка соперники ходят по очереди, каждый ход участник может либо сделать шаг
            вперед, либо произвести выстрел. Чем ближе находятся соперники друг к другу, тем
            выше шанс попадания. При этом шанс попадания увеличивается линейно, начиная с
            определенного значения в начале поединка до 100% при полном сближении.
        </p>
        <p> 
            Сложность состоит в том, что если вы сделаете выстрел и промахнетесь, соперник будет
            иметь право сделать необходимое количество шагов, подойти к вам вплотную, и
            выстрелить с гарантированным попаданием, что обеспечит ему победу. 
        </p>
        <p>
            Создайте алгоритм, который, отталкиваясь от заданных значений шансов попадания для
            вас и соперника в начале поединка, будет определять номер шага когда вам нужно
            произвести выстрел для получения наиболее высоких шансов на победу.
        </p>
        <p>
            <em>Входящие параметры:</em>
            Значения шансов попадания в начале поединка (разные для вас и соперника, и оба в
            диапазоне от 0.1 до 0.3), а также номер участника, который ходит первым.
        </p>
        <p>
            <em>Выходные данные:</em>    
            Наиболее оптимальный шаг для произведения выстрела (в диапазоне от 1 до 10).
        </p>
    </div>

    <div class="input">
        <span class="input-description">
            <em>Введите № участника, который ходит первым (1 || 2)</em>
        </span> 
        <span class="errors" *ngIf="showErrorMsg"> Ошибка вводных данных </span>
        <input type="text" placeholder="1" [(ngModel)]="inputValue"/>

        <span class="input-description" *ngIf="player1?.toHit">
            <em>Шанс попадания первого участника:</em> {{player1.toHit}} <br>
            <em>Шанс попадания второго участника:</em> {{player2.toHit}}
        </span>

        <button class="okButton" (click)="handleClick()">Start</button>
    </div>
    <div class="output"> 
        {{result}}
    </div>

    <div class="comment">
        <p>
            Предположил, что оптимальный выстрел нужно делать при шансе в 75%, 
            или если противник на следующий ход достигнет шанса в 75%. 
            С каждым шагом шанс увеличивается на 0.05
        
            Участники - описаны интерфейсом Player, в котором toHit - начальный шанс попадания 
            (0.1 - 0.3), step - кол-во шагов, которые сделал участник. Вы являетесь участником
            player1.
        </p>
        <p>Если исходные данные верны(1 или 2) - то генерерируются шансы попадания для каждого 
            участника. Дальше, следует цикл, в котором
            проверяется текущий шанс попадания для каждого, и, при удачной 
            проверке (наш шанс >=75% или противник на следующий ход получит шанс в >= 75%), 
            цикл прерывается с ответом, на каком шагу нужно произвести выстрел. Если проверка не прошла,
            противники делоют по шагу.
            Текущий шанс попадания определяеться по начальному шансу + зависимость от расстояния между 
            участниками (1 - расстояние*0,05).
        </p>
    </div>
</div>

